<div class="mb-4">
  <div *ngIf="isLoading" class="text-center py-2">Loading categories...</div>

  <div *ngIf="!isLoading" class="flex flex-wrap gap-2">
    <button
      *ngFor="let category of categories$ | async"
      class="btn py-1 px-4 rounded-full"
      [class.bg-primary-700]="selectedCategory === category.name"
      [class.text-black]="selectedCategory !== category.name"
      [class.bg-gray-100]="selectedCategory !== category.name"
      [class.hover:bg-gray-200]="selectedCategory !== category.name"
    >
      {{ category.name | titlecase }}
    </button>
  </div>
</div>
