<div class="flex gap-1">
  <button
    class="btn py-1 px-5 hover:bg-neutral focus:bg-neutral hover:text-neutral-inverted focus:text-neutral-inverted bg-primary-400 rounded-full"
  >
    All
  </button>
  <button
    class="btn py-1 px-5 hover:bg-neutral focus:bg-neutral hover:text-neutral-inverted focus:text-neutral-inverted bg-primary-400 rounded-full"
  >
    Furniture
  </button>
  <button
    class="btn py-1 px-5 hover:bg-neutral focus:bg-neutral hover:text-neutral-inverted focus:text-neutral-inverted bg-primary-400 rounded-full"
  >
    Lighting
  </button>
  <button
    class="btn py-1 px-5 hover:bg-neutral focus:bg-neutral hover:text-neutral-inverted focus:text-neutral-inverted bg-primary-400 rounded-full"
  >
    Accessories
  </button>
</div>
